.error {
    color: red;
    background-color: #ffe5e5;
    padding: 10px;
    border: 1px solid red;
    border-radius: 8px;
    animation: shake 0.5s ease infinite;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-5px);
    }

    50% {
        transform: translateX(5px);
    }

    75% {
        transform: translateX(-5px);
    }

    100% {
        transform: translateX(0);
    }
}
